@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-main: #0f0f0f;
  --bg-card: #1a1a1a;
  --bg-input: #121212;

  --text-primary: #ffffff;
  --text-secondary: #b3b3b3;

  --accent: #e6e6e6;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20% { transform: translateX(-6px); }
  40% { transform: translateX(6px); }
  60% { transform: translateX(-4px); }
  80% { transform: translateX(4px); }
}

/* Shimmer effect */
/* SHIMMER EFFECT */
.shimmer {
  position: relative;
  overflow: hidden;
}

.shimmer::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 150%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255,255,255,0) 0%,
    rgba(255,255,255,0.12) 50%,
    rgba(255,255,255,0) 100%
  );
  animation: shimmerMove 1.4s infinite;
}

@keyframes shimmerMove {
  0% { left: -150%; }
  100% { left: 150%; }
}
